{
  "net_name": "drmm",
  "global":{
      "model_type": "PY",
      "weights_file": "examples/robust04/weights/drmm.test.5.iter100.bs20.steps1000.dropout0.lr0_001.tv.weights",
      "save_weights_iters": 50,
      "num_iters": 100,
      "display_interval": 1000,
      "test_weights_iters": 100,
      "optimizer": "adam",
      "learning_rate": 0.001,
      "best_weights_file": "./examples/robust04/test.5.weights.best.hdf5"
  },
  "inputs": {
    "share": {
        "text1_corpus": "./data/robust04/corpus_new_n_stem_filtered_rob04_embed.txt",
        "text2_corpus": "./data/robust04/corpus_new_n_stem_filtered_rob04_embed.txt",
        "use_dpool": false,
	    "embed_path": "./data/robust04/embed_rob04_new_n_stem_d300_norm",
        "embed_size": 300,
        "vocab_size": 106663,
        "train_embed": true,
        "target_mode": "ranking",
        "hist_size": 30,
        "text1_maxlen": 5,
        "text2_maxlen": 100
    },
    "train": {
        "input_type": "DRMM_PairGenerator", 
        "phase": "TRAIN",
        "use_iter": false,
        "query_per_iter": 50,
        "batch_per_iter": 5,
        "batch_size": 20,
        "relation_file": "./data/robust04/cv_splits/train.5.txt",
        "hist_feats_file": "./data/robust04/cv_splits/train.5.hist-30.txt"
    },
    "test": {
        "input_type": "DRMM_ListGenerator", 
        "phase": "EVAL",
        "batch_list": 10,
        "relation_file": "./data/robust04/cv_splits/test.5.ql.txt",
        "hist_feats_file": "./data/robust04/cv_splits/test.5.hist-30.txt"
    },
    "predict": {
        "input_type": "DRMM_ListGenerator", 
        "phase": "PREDICT",
        "batch_list": 10,
        "relation_file": "./data/robust04/cv_splits/test.5.ql.txt",
        "hist_feats_file": "./data/robust04/cv_splits/test.5.hist-30.txt"
    }
  },
  "outputs": {
    "predict": {
      "save_format": "TREC",
      "save_path": "./examples/robust04/predict.test.5.iter100.bs20.steps1000.dropout0.lr0_001.tv.txt"
    }
  },
  "model": {
    "model_path": "matchzoo/models/",
    "model_py": "drmm.DRMM",
    "setting": {
        "num_layers": 2,
        "hidden_sizes": [5, 1],
        "dropout_rate": 0.0
    }
  },
  "losses": [ 
    {
       "object_name": "rank_hinge_loss" ,
       "object_params": {
            "margin": 1.0
       }
    }
  ],
  "metrics": [ "precision@10", "precision@20", "ndcg@5", "ndcg@10", "ndcg@20", "map" ]
}
