{
  "net_name": "drmm",
  "global":{
      "model_type": "PY",
      "weights_file": "examples/robust04/weights/drmm_run2_ranking.weights",
      "save_weights_iters": 10,
      "num_iters": 20,
      "display_interval": 10,
      "test_weights_iters": 10,
      "optimizer": "adam",
      "learning_rate": 0.0001
  },
  "inputs": {
    "share": {
        "text1_corpus": "./data/robust04/corpus_preprocessed_filtered_min10cf.txt",
        "text2_corpus": "./data/robust04/corpus_preprocessed_filtered_min10cf.txt",
        "use_dpool": false,
	
        "embed_size": 300,
        "vocab_size": 87933,
        "train_embed": true,
        "target_mode": "ranking",
        "hist_size": 30,
        "text1_maxlen": 5,
        "text2_maxlen": 100
    },
    "train": {
        "input_type": "DRMM_PairGenerator", 
        "phase": "TRAIN",
        "use_iter": false,
        "query_per_iter": 50,
        "batch_per_iter": 5,
        "batch_size": 20,
        "relation_file": "./data/robust04/relation_train.txt",
        "hist_feats_file": "./data/robust04/relation_train.hist-30.txt"
    },
    "valid": {
        "input_type": "DRMM_ListGenerator", 
        "phase": "EVAL",
        "batch_list": 10,
        "relation_file": "./data/robust04/relation_valid.txt",
        "hist_feats_file": "./data/robust04/relation_valid.hist-30.txt"
    },
    "test": {
        "input_type": "DRMM_ListGenerator", 
        "phase": "EVAL",
        "batch_list": 10,
        "relation_file": "./data/robust04/relation_test.txt",
        "hist_feats_file": "./data/robust04/relation_test.hist-30.txt"
    },
    "predict": {
        "input_type": "DRMM_ListGenerator", 
        "phase": "PREDICT",
        "batch_list": 10,
        "relation_file": "./data/robust04/relation_test.txt",
        "hist_feats_file": "./data/robust04/relation_test.hist-30.txt"
    }
  },
  "outputs": {
    "predict": {
      "save_format": "TREC",
      "save_path": "./examples/robust04/predict.test3.drmm_ranking.txt"
    }
  },
  "model": {
    "model_path": "matchzoo/models/",
    "model_py": "drmm.DRMM",
    "setting": {
        "num_layers": 1,
        "hidden_sizes": [1],
        "dropout_rate": 0.5
    }
  },
  "losses": [ 
    {
       "object_name": "rank_hinge_loss" ,
       "object_params": {
            "margin": 1.0
       }
    }
  ],
  "metrics": [ "precision@20", "ndcg@20", "map" ]
}
