{
  "net_name": "dssm",
  "global":{
      "model_type": "PY",
      "weights_file": "./examples/robust04/weights/dssm.test.1.iter100.bs100.steps1000.dropout0_05.hs300x128.lr0_001.weights",
      "save_weights_iters": 20,
      "num_iters": 100,
      "display_interval": 1000,
      "test_weights_iters": 100,
      "optimizer": "adam",
      "learning_rate": 0.001,
      "best_weights_file": "./examples/robust04/test.1.dssm.hs300x128.weights.best.hdf5"
  },
  "inputs": {
    "share": {
        "text1_corpus": "./data/robust04/corpus_preprocessed_n_stem.txt",
        "text2_corpus": "./data/robust04/corpus_preprocessed_n_stem.txt",
        "word_triletter_map_file": "./data/robust04/word_triletter_map_n_stem.txt",
        "target_mode": "ranking",
        "vocab_size": 21224,
        "embed_size": 300
    },
    "train": {
        "input_type": "Triletter_PairGenerator", 
        "dtype": "dssm",
        "phase": "TRAIN",
        "use_iter": false,
        "query_per_iter": 3,
        "batch_per_iter": 5,
        "batch_size": 100,
        "relation_file": "./data/robust04/cv_splits/train.1.txt"
    },
    "test": {
        "input_type": "Triletter_ListGenerator", 
        "dtype": "dssm",
        "phase": "EVAL",
        "batch_list": 10,
        "relation_file": "./data/robust04/cv_splits/test.1.ql.txt"
    },
    "predict": {
        "input_type": "Triletter_ListGenerator", 
        "dtype": "dssm",
        "phase": "PREDICT",
        "batch_list": 10,
        "relation_file": "./data/robust04/cv_splits/test.1.ql.txt"
    }
  },
  "outputs": {
    "predict": {
      "save_format": "TREC",
      "save_path": "./examples/robust04/predict.test.1.dssm.iter100.bs100.steps1000.dropout0_05.hs300x128.lr0_001.txt"
    }
  },
  "model": {
    "model_path": "matchzoo/models/",
    "model_py": "dssm.DSSM",
    "setting": {
        "hidden_sizes": [300, 128],
        "dropout_rate": 0.05
    }
  },
  "losses": [ 
    {
       "object_name": "rank_hinge_loss" ,
       "object_params": {
            "margin": 1.0
       }
    }
  ],
  "metrics": [ "precision@10", "precision@20", "ndcg@5", "ndcg@10", "ndcg@20", "map" ]
}

