{
  "net_name": "dssm",
  "global":{
      "model_type": "PY",
      "weights_file": "./examples/robust04/weights/dssm_ranking.iter100.bs100.dropout0.lr0_001.weights",
      "save_weights_iters": 10,
      "num_iters": 100,
      "display_interval": 10,
      "test_weights_iters": 100,
      "optimizer": "adam",
      "learning_rate": 0.001
  },
  "inputs": {
    "share": {
        "text1_corpus": "./data/robust04/corpus_preprocessed_n_stem_filtered_rob04_embed.txt",
        "text2_corpus": "./data/robust04/corpus_preprocessed_n_stem_filtered_rob04_embed.txt",
        "word_triletter_map_file": "./data/robust04/word_triletter_map_n_stem_filtered_rob04_embed.txt",
        "target_mode": "ranking",
        "vocab_size": 103841,
        "embed_size": 300
    },
    "train": {
        "input_type": "Triletter_PairGenerator", 
        "dtype": "dssm",
        "phase": "TRAIN",
        "use_iter": true,
        "query_per_iter": 3,
        "batch_per_iter": 5,
        "batch_size": 100,
        "relation_file": "./data/robust04/relation_train.txt"
    },
    "valid": {
        "input_type": "Triletter_ListGenerator", 
        "dtype": "dssm",
        "phase": "EVAL",
        "batch_list": 10,
        "relation_file": "./data/robust04/relation_valid.txt"
    },
    "test": {
        "input_type": "Triletter_ListGenerator", 
        "dtype": "dssm",
        "phase": "EVAL",
        "batch_list": 10,
        "relation_file": "./data/robust04/relation_test.txt"
    },
    "predict": {
        "input_type": "Triletter_ListGenerator", 
        "dtype": "dssm",
        "phase": "PREDICT",
        "batch_list": 10,
        "relation_file": "./data/robust04/relation_test.txt"
    }
  },
  "outputs": {
    "predict": {
      "save_format": "TREC",
      "save_path": "./examples/robust04/predict.test.dssm_ranking.iter100.bs100.dropout0.lr0_001.txt"
    }
  },
  "model": {
    "model_path": "matchzoo/models/",
    "model_py": "dssm.DSSM",
    "setting": {
        "hidden_sizes": [100, 30],
        "dropout_rate": 0.0
    }
  },
  "losses": [ 
    {
       "object_name": "rank_hinge_loss" ,
       "object_params": {
            "margin": 1.0
       }
    }
  ],
  "metrics": [ "precision@10", "precision@20", "ndcg@5", "ndcg@10", "ndcg@20", "map" ]
}

