{
  "net_name": "DUET",
  "global":{
      "model_type": "PY",
      "weights_file": "examples/robust04/weights/duetl.test.1.iter100.bs8.steps100.dropout0_2.lr0_001.weights",
      "save_weights_iters": 20,
      "num_iters": 100,
      "display_interval": 100,
      "test_weights_iters": 100,
      "optimizer": "adam",
      "learning_rate": 0.001,
      "best_weights_file": "./examples/robust04/duetl.test.1.weights.best.hdf5"
  },
  "inputs": {
    "share": {
        "text1_corpus": "./data/robust04/corpus_new_n_stem_filtered_rob04_embed.txt",
        "text2_corpus": "./data/robust04/corpus_new_n_stem_filtered_rob04_embed.txt",
        "use_dpool": false,
        "embed_size": 300,
        "embed_path": "./data/robust04/embed_rob04_new_n_stem_d300_norm",
        "vocab_size": 106663,
        "train_embed": true,
        "target_mode": "ranking",
        "text1_maxlen": 4,
        "text2_maxlen": 300
    },
    "train": {
        "input_type": "PairGenerator", 
        "phase": "TRAIN",
        "use_iter": false,
        "query_per_iter": 50,
        "batch_per_iter": 5,
        "batch_size": 8,
        "relation_file": "./data/robust04/cv_splits/train.1.txt"
    },
    "test": {
        "input_type": "ListGenerator", 
        "phase": "EVAL",
        "batch_list": 1,
        "relation_file": "./data/robust04/cv_splits/test.1.ql.txt"
    },
    "predict": {
        "input_type": "ListGenerator", 
        "phase": "PREDICT",
        "batch_list": 1,
        "relation_file": "./data/robust04/cv_splits/test.1.ql.txt"
    }
  },
  "outputs": {
    "predict": {
      "save_format": "TREC",
      "save_path": "./examples/robust04/predict.test.1.duetl.iter100.bs8.steps100.dropout0_2.lr0_001.txt"
    }
  },
  "model": {
    "model_path": "matchzoo/models/",
    "model_py": "duet.DUET",
    "setting": {
        "lm_kernel_count": 100,
        "lm_hidden_sizes": [100, 100],
        "lm_dropout_rate": 0.2,
        "dm_kernel_count": 100,
        "dm_kernel_size": 3,
        "dm_q_hidden_size": 100,
        "dm_d_mpool": 50,
        "dm_hidden_sizes": [50],
        "dm_dropout_rate": 0.2
    }
  },
  "losses": [ 
    {
       "object_name": "rank_hinge_loss" ,
       "object_params": {
            "margin": 1.0
       }
    }
  ],
  "metrics": [ "precision@10", "precision@20", "ndcg@5", "ndcg@10", "ndcg@20", "map" ]
}

